
body {
font-family: arial, sans-serif;
color: white; background: black;
text-align: center;
}
#question_cases, #question_lockdown {

}
#answer_cases, #answer_lockdown {
font-weight: bold;
font-size: 120pt;
text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a{
  font-size: 10pt;
}
