
body {
font-family: arial, sans-serif;
color: white; background: black;
text-align: center;
}

.answer {
font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  font-size: 10pt;
}

#vax_link {
  font-size: 20pt;
  font-weight: bold;
}

#title {
  font-size: 80pt;
}
