
body {
  font-family: arial, sans-serif;
  color: black; background: white;
  text-align: center;
}

.answer {
  font-weight: bold;
  font-size: 40pt;
}

.grid {
  align-items:center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #D7D7D7;
  grid-gap: 1px;
}

a {
  font-size: 10pt;
}

#loi_link {
  font-size: 20pt;
  font-weight: bold;
  color: black;
}

#title {
  font-size: 80pt;
}


.grid-item {
  background: white;
}
